.chat-view {
	.is-remote {
		.avatar {
			right: -45px;
		}
	}
	.is-local {
		.avatar {
			left: -45px;
		}
	}

	header {
		position: relative;
	}

	[class^="icon-"]{
		position: absolute;
		height: 100%;
		left: 0;
		color: $light;
		font-size: 25px;
		text-decoration: none;
		&:before {
			position: absolute;
			top: 50%;
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}
}
