.profile-view {
	.badge {
		background: $statusActive;
		position: absolute;
		right: 10px;
		top: 10px;
	}
	h1 {
		margin:-10px -10px 20px;
	}
	.default-btn {
		position: absolute;
		bottom: 10px;
		width: calc(100% - 20px);
	}
}
