<div class="chat-view">
	<header>
	<a class="icon-arrow-left2" href="#/"></a>
		<h1>Sophie</h1>
	</header>
	<ul>
<!--
		<li class="answer-box is-remote">
			{{chat.randomMessage}}
			<figure class="avatar">
				<a class="avatar__link" href="#/">
					<img class="avatar__image" src="../../images/lady.png" alt=""/>
				</a>
			</figure>
		</li>
-->
		<li ng-repeat="answer in chat.$storage.chat" ng-class="{'is-remote': chat.otherUser.id == answer.user.id , 'is-local': chat.thisUser.id == answer.user.id }" class="answer-box">
			{{answer.user.answer}}
			<figure class="avatar">
				<a class="avatar__link" href="#/">
					<img class="avatar__image" ng-src="{{chat.otherUser.id != answer.user.id && '../../images/man.png' || '../../images/lady.png'}}" alt=""/>
				</a>
			</figure>
		</li>
	</ul>
	<form ng-submit="chat.submit()">
		<div class="input-wrapper">
			<input type="text" ng-model="chat.reply" placeholder="Write a message... " />
		</div>

		<input type="submit" id="submit" />
	</form>
</div>
