/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
/* line 9, ../../app/styles/utils/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 30, ../../app/styles/utils/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../../app/styles/utils/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 39, ../../app/styles/utils/_reset.scss */
nav ul {
  list-style: none;
}

/* line 43, ../../app/styles/utils/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 47, ../../app/styles/utils/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 53, ../../app/styles/utils/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 62, ../../app/styles/utils/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 69, ../../app/styles/utils/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 76, ../../app/styles/utils/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 80, ../../app/styles/utils/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 85, ../../app/styles/utils/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 91, ../../app/styles/utils/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 100, ../../app/styles/utils/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 1, ../../app/styles/atoms/_typography.scss */
body, html {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

/* line 1, ../../app/styles/atoms/_headers.scss */
h1, .h1 {
  font-weight: 700;
  color: #fff;
  background: #666;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  margin: -10px -10px 20px;
}

/* line 1, ../../app/styles/atoms/_image.scss */
img {
  border-radius: 50%;
}

/* line 1, ../../app/styles/atoms/_a.scss */
a {
  display: inline-block;
}

/* line 1, ../../app/styles/atoms/_buttons.scss */
.default-btn {
  font-size: 14px;
  background: #666;
  width: 100%;
  padding: 15px;
  color: #fff;
  border: none;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 13, ../../app/styles/atoms/_buttons.scss */
.is-befriended .default-btn {
  background: #1C90BD;
}

/* line 18, ../../app/styles/atoms/_buttons.scss */
[class^="icon-"] {
  border: none;
  background: transparent;
}

/* line 1, ../../app/styles/atoms/_list.scss */
ul,
ol {
  list-style-type: none;
}

/* line 1, ../../app/styles/atoms/_input.scss */
input[type="text"] {
  border-radius: 3px;
  background: #e6e6e6;
  border: none;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 10, ../../app/styles/atoms/_input.scss */
input[type="text"]:focus {
  outline: none;
}

/* line 15, ../../app/styles/atoms/_input.scss */
input[type="submit"] {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

/* line 1, ../../app/styles/atoms/_form.scss */
form {
  text-align: center;
}

/* line 1, ../../app/styles/molecules/_container.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../app/styles/molecules/_container.scss */
.container {
  padding: 10px;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  transition: background 0.25s ease-in-out;
}

/* line 13, ../../app/styles/molecules/_container.scss */
.is-befriended {
  background: #75496E;
}

/* line 1, ../../app/styles/molecules/_profile-image.scss */
.profile {
  position: relative;
  text-align: center;
}

/* line 6, ../../app/styles/molecules/_profile-image.scss */
.profile__image {
  text-align: center;
  max-width: 90%;
  margin: 0 0 15px;
}

/* line 12, ../../app/styles/molecules/_profile-image.scss */
.profile__descitption {
  text-align: left;
}

/* line 16, ../../app/styles/molecules/_profile-image.scss */
.profile__first-line {
  font-size: 20px;
  display: block;
}

/* line 21, ../../app/styles/molecules/_profile-image.scss */
.profile__second-line {
  font-size: 15px;
  font-weight: 700;
  color: #E896FF;
  margin: 0 0 10px;
  display: inline-block;
}

/* line 29, ../../app/styles/molecules/_profile-image.scss */
.profile__longdesc {
  font-size: 15px;
  line-height: 1.1;
}

@media screen and (orientation: landscape) and (max-width: 680px) {
  /* line 35, ../../app/styles/molecules/_profile-image.scss */
  .profile__image {
    max-width: 29vh;
  }
}
/* line 1, ../../app/styles/molecules/_badge.scss */
.badge {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 4.85;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

/* line 1, ../../app/styles/molecules/_answer-box.scss */
.answer-box {
  width: 70%;
  margin: 0 auto 15px;
  padding: 10px;
  font-size: 12px;
  line-height: 1.7;
  border-radius: 3px;
  position: relative;
}
/* line 9, ../../app/styles/molecules/_answer-box.scss */
.answer-box:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top-width: 15px;
  border-top-style: solid;
  position: absolute;
  top: 0;
}
/* line 21, ../../app/styles/molecules/_answer-box.scss */
.answer-box.is-remote {
  color: #fff;
  background: #C4985A;
}
/* line 24, ../../app/styles/molecules/_answer-box.scss */
.answer-box.is-remote:before {
  right: -10px;
  border-top-color: #C4985A;
}
/* line 29, ../../app/styles/molecules/_answer-box.scss */
.answer-box.is-local {
  color: #666;
  background: #E3E3E3;
}
/* line 32, ../../app/styles/molecules/_answer-box.scss */
.answer-box.is-local:before {
  left: -10px;
  border-top-color: #E3E3E3;
}

/* line 1, ../../app/styles/molecules/_input-wrapper.scss */
.input-wrapper {
  width: 70%;
  position: relative;
  margin: 0 auto;
}
/* line 5, ../../app/styles/molecules/_input-wrapper.scss */
.input-wrapper:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top-width: 15px;
  border-top-style: solid;
  position: absolute;
  top: 0;
  left: -10px;
  border-top-color: #E3E3E3;
}

/* line 1, ../../app/styles/molecules/_avatar.scss */
.avatar {
  position: absolute;
  top: 0;
}

/* line 6, ../../app/styles/molecules/_avatar.scss */
.avatar__image {
  max-width: 35px;
}

/* line 10, ../../app/styles/molecules/_avatar.scss */
.avatar__link {
  width: 40px;
}

@font-face {
  font-family: 'icomoon';
  src: url("../../../fonts/icomoon.ttf?dqww6m") format("truetype"), url("../../../fonts/icomoon.woff?dqww6m") format("woff"), url("../../../fonts/icomoon.svg?dqww6m#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 11, ../../app/styles/molecules/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../../app/styles/molecules/_icons.scss */
.icon-arrow-left2:before {
  content: "\e900";
}

/* line 2, ../../app/styles/organisms/_profile-view.scss */
.profile-view .badge {
  background: #4DED45;
  position: absolute;
  right: 10px;
  top: 10px;
}
/* line 8, ../../app/styles/organisms/_profile-view.scss */
.profile-view h1 {
  margin: -10px -10px 20px;
}
/* line 11, ../../app/styles/organisms/_profile-view.scss */
.profile-view .default-btn {
  position: absolute;
  bottom: 10px;
  width: calc(100% - 20px);
}

/* line 3, ../../app/styles/organisms/_chat-view.scss */
.chat-view .is-remote .avatar {
  right: -45px;
}
/* line 8, ../../app/styles/organisms/_chat-view.scss */
.chat-view .is-local .avatar {
  left: -45px;
}
/* line 13, ../../app/styles/organisms/_chat-view.scss */
.chat-view header {
  position: relative;
}
/* line 17, ../../app/styles/organisms/_chat-view.scss */
.chat-view [class^="icon-"] {
  position: absolute;
  height: 100%;
  left: 0;
  color: #fff;
  font-size: 25px;
  text-decoration: none;
}
/* line 24, ../../app/styles/organisms/_chat-view.scss */
.chat-view [class^="icon-"]:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}