//fonts
$default-font: 'Raleway', sans-serif;
$default-weight: 400;
$bold-weight: 700;

//colours
$defaultBg: #666;
$light: #fff;
$dark: #000;
$highlight: #E896FF;
$statusActive: #4DED45;
$statusChanged: #75496E;
$buttonHighlighted: #1C90BD;
$localAnswer: #E3E3E3;
$remoteAnswer: #C4985A;
