<div class="profile-view">
	<header>
		<h1>Sophie</h1>
	</header>

	<figure class="profile">
		<span class="badge">Online</span>
		<a href="#/chat:user123" class="profile-link">
			<img class="profile__image" src="http://ichef.bbci.co.uk/images/ic/256x256/p01br3h8.jpg" alt="photo of a person" />
		</a>
		<figcaption class="profile__descitption">
			<span class="profile__first-line">Sophie, 22</span>
			<span class="profile__second-line">New York</span>
			<p class="profile__longdesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem fuga reiciendis, deserunt quae asperiores modi at architecto officia pariatur.</p>
		</figcaption>


	</figure>
	<button class="default-btn js-befriend-btn">Add as friend</button>
</div>
