.default-btn {
	font-size: 14px;
	background: $defaultBg;
	width: 100%;
	padding: 15px;
	color: $light;
	border: none;
	font-weight: $default-weight;
	text-transform: uppercase;
}

.is-befriended {
	.default-btn {
		background: $buttonHighlighted;
	}
}

[class^="icon-"] {
	border: none;
	background: transparent;
}
