input[type="text"] {
	border-radius: 3px;
	background: lighten($defaultBg, 50%);
	border:none;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	color: transparentize($dark, 0.5);

	&:focus {
		outline: none;
	}
}

input[type="submit"] {
	position: absolute;
	left:-9999px;
	visibility: hidden;
}
