.answer-box {
	width: 70%;
	margin: 0 auto 15px;
	padding: 10px;
	font-size: 12px;
	line-height: 1.7;
	border-radius: 3px;
	position: relative;
	&:before {
		content: '';
		display: inline-block;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top-width: 15px;
		border-top-style: solid;
		position: absolute;
		top: 0;
	}
	&.is-remote {
		color: $light;
		background: $remoteAnswer;
		&:before {
			right: -10px;
			border-top-color: $remoteAnswer;
		}
	}
	&.is-local {
		color: $defaultBg;
		background: $localAnswer;
		&:before {
			left: -10px;
			border-top-color: $localAnswer;
		}
	}
}
