.badge {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	line-height: 4.85;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: $bold-weight;
	color: $light;
}
