* {
	box-sizing: border-box;
}

.container {
	padding: 10px;
	height: 100vh;
	position: relative;
	box-sizing: border-box;
	transition: background 0.25s ease-in-out;
}

.is-befriended {
	background: $statusChanged;
}
