@font-face {
		font-family: 'icomoon';
		src:
				url('../../../fonts/icomoon.ttf?dqww6m') format('truetype'),
				url('../../../fonts/icomoon.woff?dqww6m') format('woff'),
				url('../../../fonts/icomoon.svg?dqww6m#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
		/* use !important to prevent issues with browser extensions that change fonts */
		font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left2:before {
		content: "\e900";
}

