.input-wrapper {
	width: 70%;
	position: relative;
	margin: 0 auto;
	&:before {
		content: '';
		display: inline-block;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top-width: 15px;
		border-top-style: solid;
		position: absolute;
		top: 0;
		left: -10px;
		border-top-color: $localAnswer;
	}
}
