.profile {
	position: relative;
	text-align: center;
}

.profile__image {
	text-align: center;
	max-width: 90%;
	margin: 0 0 15px;
}

.profile__descitption {
	text-align: left;
}

.profile__first-line {
	font-size: 20px;
	display: block;
}

.profile__second-line {
	font-size: 15px;
	font-weight: $bold-weight;
	color: $highlight;
	margin: 0 0 10px;
	display: inline-block;
}

.profile__longdesc {
	font-size: 15px;
	line-height: 1.1;
}

@media screen and (orientation: landscape) and (max-width: 680px) {
	.profile__image {
		max-width: 29vh
	}
}
